.row {
    display: grid;
    grid-template-columns: 33.3% 33.3% 34%;
}

.row img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.row div {
    padding: 10px;
}

.right {
    margin-left: auto;
    
}

.left {
    margin-right: auto;
}

.menu img {     
    width: 100px;
}

.menu div {
    display: inline-block;

}
.menu{
    display: grid;
    grid-template-columns: auto auto;
}
.menu-2 {
    display: block;
    display: grid;
    grid-template-columns: 60% 35%;
}
.menu-2 h1{
    font-size: 24px;
}
.menu-2 p{
    font-size: 24px;
}

body {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.banner img {
    width: 100%;
}

.banner h1 {
    font-size: 25px;
}

.banner p {
    font-size: 25px;
}

.absolute {
    position: absolute;
    bottom: 45%;
    left: 45%;

}

.absolute-1 {
    position: absolute;
    bottom: 28%;
    left: 40%;
    font-size: 65px;
    color: red;

}

.menu-1 div {
    position: relative ;
    padding: 20px;
    font-size: 24px;
    margin-right: 10px;
    bottom: 45px;
}
.menu-1 a{
    position: relative ;
    padding: 20px;
    font-size: 24px;
    margin-right: 10px;
    bottom: 45px;
}

    